@{
    ViewBag.Title = "House";
    Layout = "~/Views/Shared/HouseLayout.cshtml";
}

@using QLKS_CNPM_LT.Models.ViewModel
@model List<PhongView>

<link rel="stylesheet" href="~/Content/MyStyle/Item.css" />
<h1>Danh mục sản phẩm</h1>
@using (Html.BeginForm("Home", "Product"))
{
    <div id="myinput">
        <input type="number" name="min" placeholder="Nhâp số tiền thấp nhất" />
        <input type="number" name="max" placeholder="Nhập số tiền lớn nhất" />
        <input type="text" name="search" placeholder="Bạn cần tìm gì" />
        <input type="submit" value="Tìm" id="btn" />
    </div>
}

@{ 
   
}

<ul id="list-product">

    @foreach (PhongView pv in Model)
    {
        decimal money = (decimal)pv.GIA;
        <div class="card">

            <div class="card_img">
                @*<img src="@Url.Content(pro.ImagePro)" alt="">*@
                <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg" />
            </div>
            <div class="card_tille">
                @pv.TENPhong
            </div>
            <div class="card_price">
                @money.ToString("#,###").Replace(",", ".") <span style="color:green">VNĐ</span>
            </div>

            <div class="card_action">
                @if (pv.TRANGTHAI != "Trống")
                {
                    <button disabled onclick="location.href='/ShoppingCart/AddtoCart/@pv.MA_PHONG';">Phòng đã hết</button>
                    <button onclick="location.href='/Phong/CTPhong/@pv.MA_PHONG';">Chi tiết</button>
                }
                else
                {
                    <button onclick="location.href='/ShoppingCart/AddtoCart/@pv.MA_PHONG';">Đặt phòng</button>
                    <button onclick="location.href='/Phong/CTPhong/@pv.MA_PHONG';">Chi tiết</button>
                }

            </div>
        </div>
    }

</ul>
<div class="list-page">


    @*@Html.PagedListPager(Model, page => Url.Action("Home", new
        { page, category = Request.QueryString["category"] }),
        new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })*@

</div>